@tailwind base;
@tailwind components;
@tailwind utilities;
 
html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    /* Custom Website Colors */

    /* Single Colors */
    --violet: #7F00FF;

    /* Gradient Colors */
    --purple-dark: #5D0076;
    --purple-mid: #8601ab;
    --purple-light: #9D01C8;

    --green-dark: #02903F;
    --green-mid: #00C853;
    --green-light: #0ACD5E;

    --blue-dark: #003B7E;
    --blue-mid: #0052B1;
    --blue-light: #016DEA;

    --red-dark: #812924;
    --red-mid: #CD0D14;
    --red-light: #FA4001;

    --grey-dark: #959597;
    --grey-mid: #B3B3B3;
    --grey-light: #C7C6CA;

    --background: #FFFFFF;
    --foreground: #016DEA;

    /* Component Colors */

    --card: #FFFFFF;
    --card-foreground: #016DEA;
 
    --popover: #FFFFFF;
    --popover-foreground: #016DEA;
 
    --primary: #016DEA;
    --primary-foreground: #FFFFFF;
 
    --secondary: #FFFFFF;
    --secondary-foreground: #016DEA;
 
    --muted: #9d9c9e;
    --muted-foreground: #016DEA;
 
    --accent: #016eea6a;
    --accent-foreground: #ffffff;

    --destructive: #FA4001;
    --destructive-foreground: #FFFFFF;

    --border: #959597;
    --input: #95959781;
    --ring: #016DEA;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: #FFFFFF;
    --foreground: #016DEA;

    --card: #FFFFFF;
    --card-foreground: #016DEA;

    --popover: #FFFFFF;
    --popover-foreground: #016DEA;

    --primary: #016DEA;
    --primary-foreground: #FFFFFF;

    --secondary: #FFFFFF;
    --secondary-foreground: #016DEA;

    --muted: #C7C6CA;
    --muted-foreground: #016DEA;

    --accent: #016DEA;
    --accent-foreground: #FFFFFF;

    --destructive: #FA0101;
    --destructive-foreground: #FFFFFF;

    --border: #959597;
    --input: #959597;
    --ring: #016DEA;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  /* Blue Gradient */
  .vBlue {
    @apply bg-gradient-to-r from-blueDark via-blueMid to-blueLight;
  }
  .vBlue:hover {
    @apply bg-gradient-to-r from-blueLight via-blueMid to-blueDark;
  }

  /* Red Gradient */
  .vRed {
    @apply bg-gradient-to-r from-redDark via-redMid to-redLight;
  }
  .vRed:hover {
    @apply bg-gradient-to-r from-redLight via-redMid to-redDark;
  }

  /* Grey Gradient */
  .vGrey {
    @apply bg-gradient-to-r from-greyDark via-greyMid to-greyLight;
  }
  .vGrey:hover {
    @apply bg-gradient-to-r from-greyLight via-greyMid to-greyDark;
  }

  /* Purple Gradient */
  .vPurple {
    @apply bg-gradient-to-r from-purpleDark via-purpleMid to-purpleLight;
  }
  .vPurple:hover {
    @apply bg-gradient-to-r from-purpleLight via-purpleMid to-purpleDark;
  }

  /* Single Gradient no hover color */
  .vhBlue {
    @apply bg-gradient-to-r from-blueLight via-blueMid to-blueDark;
  }
  .vhGreen {
    @apply bg-gradient-to-r from-greenLight via-greenMid to-greenDark;
  }
  .vhBlueRed {
    @apply bg-gradient-to-r from-blueLight to-destructive;
  }
  .vhGrey {
    @apply bg-gradient-to-r from-greyDark via-greyMid to-greyLight
  }
  .vhPurple {
    @apply bg-gradient-to-r from-purpleDark via-purpleMid to-purpleLight;
  }

  /* LGFilled Varient Outline to Filled */
  .vhrBlue {
    @apply bg-gradient-to-r from-blueLight via-blueMid to-blueDark hover:bg-gradient-to-r hover:from-white hover:to-white;
  }
}