@tailwind base;
@tailwind components;
@tailwind utilities;
 
html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    /* Single Colors */
    --violet: #7F00FF;
    --hoverBlue: #60A5FA;

    /* Linear Colors */
    --plum-light: #933C6B;
    --plum-dark: #662046;

    --orange-light: #FF8743;
    --orange-dark: #DC5001;

    --hot-pink-light: #EA047E;
    --hot-pink-dark: #CD016D;

    --soft-brown-light: #9E7676;
    --soft-brown-dark: #845858;

    --sky-blue-light: #03D2FF;
    --sky-blue-dark: #01A5C9;

    --mustard-yellow-light: #F2C94C;
    --mustard-yellow-dark: #DEA700;

    --olive-light: #B1C000;
    --olive-dark: #838E00;

    --peach-light: #FF8383;
    --peach-dark: #F95454;

    --midnight-blue-light: #2E01AD;
    --midnight-blue-dark: #1A0064;

    --muted-purple-light: #604675;
    --muted-purple-dark: #43255A;

    --matte-blue-light: #0146AD;
    --matte-blue-dark: #02337D;

    --aqua-light: #0092C0;
    --aqua-dark: #00769B;

    --sunflower-yellow-light: #F1DC1A;
    --sunflower-yellow-dark: #C5B311;

    --teal-green-light: #00C070;
    --teal-green-dark: #009054;

    --pink-light: #E855EB;
    --pink-dark: #B726B4;

    /* Gradient Colors */
    --purple-dark: #5D0076;
    --purple-mid: #8601ab;
    --purple-light: #9D01C8;

    --green-dark: #02903F;
    --green-mid: #00C853;
    --green-light: #0ACD5E;

    --blue-dark: #003B7E;
    --blue-mid: #0052B1;
    --blue-light: #016DEA;

    --red-dark: #812924;
    --red-mid: #CD0D14;
    --red-light: #FA4001;

    --grey-dark: #959597;
    --grey-mid: #B3B3B3;
    --grey-light: #C7C6CA;

    --background: #FFFFFF;
    --foreground: #016DEA;

    /* Component Colors */

    --card: #FFFFFF;
    --card-foreground: #016DEA;
 
    --popover: #FFFFFF;
    --popover-foreground: #016DEA;
 
    --primary: #016DEA;
    --primary-foreground: #FFFFFF;
 
    --secondary: #FFFFFF;
    --secondary-foreground: #016DEA;
 
    --muted: #9d9c9e;
    --muted-foreground: #016DEA;
 
    --accent: #016eea6a;
    --accent-foreground: #ffffff;

    --destructive: #FA4001;
    --destructive-foreground: #FFFFFF;

    --border: #c0c0c03c;
    --input: #95959781;
    --ring: #016DEA;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: #FFFFFF;
    --foreground: #016DEA;

    --card: #FFFFFF;
    --card-foreground: #016DEA;

    --popover: #FFFFFF;
    --popover-foreground: #016DEA;

    --primary: #016DEA;
    --primary-foreground: #FFFFFF;

    --secondary: #FFFFFF;
    --secondary-foreground: #016DEA;

    --muted: #C7C6CA;
    --muted-foreground: #016DEA;

    --accent: #016DEA;
    --accent-foreground: #FFFFFF;

    --destructive: #FA0101;
    --destructive-foreground: #FFFFFF;

    --border: #C7C6CA;
    --input: #959597;
    --ring: #016DEA;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  /* Blue Gradient */
  .vBlue {
    @apply bg-gradient-to-r from-blueDark via-blueMid to-blueLight;
  }
  .vBlue:hover {
    @apply bg-gradient-to-r from-blueLight via-blueMid to-blueDark;
  }

  /* Red Gradient */
  .vRed {
    @apply bg-gradient-to-r from-redDark via-redMid to-redLight;
  }
  .vRed:hover {
    @apply bg-gradient-to-r from-redLight via-redMid to-redDark;
  }

  /* Grey Gradient */
  .vGrey {
    @apply bg-gradient-to-r from-greyDark via-greyMid to-greyLight;
  }
  .vGrey:hover {
    @apply bg-gradient-to-r from-greyLight via-greyMid to-greyDark;
  }

  /* Purple Gradient */
  .vPurple {
    @apply bg-gradient-to-r from-purpleDark via-purpleMid to-purpleLight;
  }
  .vPurple:hover {
    @apply bg-gradient-to-r from-purpleLight via-purpleMid to-purpleDark;
  }

  /* Green Gradient */
  .vGreen {
    @apply bg-gradient-to-r from-greenDark via-greenMid to-greenLight;
  }
  .vGreen:hover {
    @apply bg-gradient-to-r from-greenLight via-greenMid to-greenDark;
  }

  /* Blue Red Gradient */
  .vBlueRedSlash {
    @apply border-0 [background:linear-gradient(62.47deg,_#016DEA,_#FA0101)] text-white 
  }
  .vBlueRedSlash:hover {
    @apply border-0 [background:linear-gradient(-62.47deg,_#016DEA,_#FA0101)] text-white 
  }
  .vBlueRedStraight {
    @apply border-0 [background:linear-gradient(90deg,_#016DEA,_#FA0101)] text-white 
  }
  .vBlueRedStraight:hover {
    @apply border-0 [background:linear-gradient(-90deg,_#016DEA,_#FA0101)] text-white 
  }

  /* Gradient no hover color */
  .vgBlue {
    @apply bg-gradient-to-r from-blueLight via-blueMid to-blueDark;
  }
  .vgGreen {
    @apply bg-gradient-to-r from-greenLight via-greenMid to-greenDark;
  }
  .vgBlueRed {
    @apply bg-gradient-to-r from-blueLight to-redLight;
  }
  .vgGrey {
    @apply bg-gradient-to-r from-greyDark via-greyMid to-greyLight
  }
  .vgPurple {
    @apply bg-gradient-to-r from-purpleDark via-purpleMid to-purpleLight;
  }
  .vgRed {
    @apply bg-gradient-to-r from-redDark via-redMid to-redLight;
  }
  .vgBlueRedSlash {
    @apply border-0 [background:linear-gradient(62.47deg,_#016DEA,_#FA0101)] text-white 
  }
  .vgBlueRedStraight {
    @apply border-0 [background:linear-gradient(90deg,_#016DEA,_#FA0101)] text-white 
  }
  .gradient-bg {
    background-image: url("/images/VVerseNavBg.png")
  }

  /* Linear Gradient Colors */
  .vlPlum {
    @apply bg-gradient-to-r from-plumLight to-plumDark;
  }
  .vlPlum:hover {
    @apply bg-gradient-to-r from-plumDark to-plumLight;
  }

  .vlOrange {
    @apply bg-gradient-to-r from-orangeLight to-orangeDark;
  }
  .vlOrange:hover {
    @apply bg-gradient-to-r from-orangeDark to-orangeLight;
  }

  .vlHotPink {
    @apply bg-gradient-to-r from-hotPinkLight to-hotPinkDark;
  }
  .vlHotPink:hover {
    @apply bg-gradient-to-r from-hotPinkDark to-hotPinkLight;
  }

  .vlSoftBrown {
    @apply bg-gradient-to-r from-softBrownLight to-softBrownDark;
  }
  .vlSoftBrown:hover {
    @apply bg-gradient-to-r from-softBrownDark to-softBrownLight;
  }

  .vlSkyBlue {
    @apply bg-gradient-to-r from-skyBlueLight to-skyBlueDark;
  }
  .vlSkyBlue:hover {
    @apply bg-gradient-to-r from-skyBlueDark to-skyBlueLight;
  }

  .vlMustardYellow {
    @apply bg-gradient-to-r from-mustardYellowLight to-mustardYellowDark;
  }
  .vlMustardYellow:hover {
    @apply bg-gradient-to-r from-mustardYellowDark to-mustardYellowLight;
  }

  .vlOlive {
    @apply bg-gradient-to-r from-oliveLight to-oliveDark;
  }
  .vlOlive:hover {
    @apply bg-gradient-to-r from-oliveDark to-oliveLight;
  }

  .vlPeach {
    @apply bg-gradient-to-r from-peachLight to-peachDark;
  }
  .vlPeach:hover {
    @apply bg-gradient-to-r from-peachDark to-peachLight;
  }

  .vlMidnightBlue {
    @apply bg-gradient-to-r from-midnightBlueLight to-midnightBlueDark;
  }
  .vlMidnightBlue:hover {
    @apply bg-gradient-to-r from-midnightBlueDark to-midnightBlueLight;
  }

  .vlMutedPurple {
    @apply bg-gradient-to-r from-mutedPurpleLight to-mutedPurpleDark;
  }
  .vlMutedPurple:hover {
    @apply bg-gradient-to-r from-mutedPurpleDark to-mutedPurpleLight;
  }

  .vlMatteBlue {
    @apply bg-gradient-to-r from-matteBlueLight to-matteBlueDark;
  }
  .vlMatteBlue:hover {
    @apply bg-gradient-to-r from-matteBlueDark to-matteBlueLight;
  }

  .vlAqua {
    @apply bg-gradient-to-r from-aquaLight to-aquaDark;
  }
  .vlAqua:hover {
    @apply bg-gradient-to-r from-aquaDark to-aquaLight;
  }

  .vlTealGreen {
    @apply bg-gradient-to-r from-tealGreenLight to-tealGreenDark;
  }
  .vlTealGreen:hover {
    @apply bg-gradient-to-r from-tealGreenDark to-tealGreenLight;
  }

  .vlPink {
    @apply bg-gradient-to-r from-pinkLight to-pinkDark;
  }
  .vlPink:hover {
    @apply bg-gradient-to-r from-pinkDark to-pinkLight;
  }

  /* largeFilled Varient Outline to Filled */
  .vhrBlue {
    @apply bg-gradient-to-r from-blueLight via-blueMid to-blueDark hover:bg-gradient-to-r hover:from-white hover:to-white;
  }

  /* Navbar Separator muted color */
  .darkGray {
    @apply bg-gray-600/50
  }

  /* vhrBlue Disect */
  .vgWhite {
   @apply bg-gradient-to-r from-white to-white
  }
}